@import 'tailwindcss';

/* Tailwind dark mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* Colors */
	--dark: #101828;
	--light: #dbeafe;
}

body,
html {
	box-sizing: border-box;
}

body {
	@apply m-0 p-0 bg-[var(--light)] dark:bg-[var(--dark)] text-[var(--light)] dark:text-[var(--dark)] min-w-80 transition-colors duration-700;
}

.buttonStyle {
	@apply p-2 self-center rounded-lg cursor-pointer hover:opacity-70 bg-[var(--dark)] text-[var(--light)] dark:bg-[var(--light)] dark:text-[var(--dark)] disabled:bg-gray-400 disabled:cursor-not-allowed select-none break-all;
}

.container {
	@apply mx-auto max-w-[1300px] px-7 sm:px-10;
}

@media(max-width: 380px) {
	.logo-text {
		font-size: 30px;
	}

	.container {
		padding-inline: 20px;
	}
}


@keyframes blink {
    0%,
    100% {
		opacity: 1;
    }
    50% {
		opacity: 0;
    }
}

.animate-blink {
    animation: blink 0.8s step-end infinite;
}

@keyframes loading {
	0% {
		transform: translateX(-100%);
    }
    100% {
		transform: translateX(250%);
    }
}

.animate-loading-bar {
    animation: loading 0.8s ease infinite;
}